<% logged_in_user = get_session_user %>
<% if !logged_in_user %>
<div class="jumbotron">Are you allowed to view this page?</div>
<% else %>
<h1>My Projects</h1><br>
<% if @projects.size > 0 %>
<% @projects.each do |project| %>
<div class="panel panel-default">
	<div class="panel-body" style="padding-left:2%;padding-right:2%;padding-bottom:2%;">
		<h3>
		<% if project.approved %>
		<%= link_to sanitize(markdown(project.title)), "/projects/show/#{project.id}", :class => "projecttitle" %>
		<% else %>
		<%= sanitize(markdown(project.title)) %>
		<% end %>
		</h3><br>
		<%= sanitize(markdown(project.description)) %><br><br>
		Time Needed => <%= project.time_required %> <br>
		Status => <%= project.status %>
		<br><br>
		<div style="text-align:right;">
			<% if !project.approved %>
			<a href="/projects/destroyproject?id=<%= project.id %>&last=my" class="btn btn-primary">Delete</a>
			<a class="btn btn-danger disabled">Waiting for approval</a>
			<% else %>
			<a class="btn btn-success disabled">Approved</a>
			<% end %>
		</div>
	</div>
	
	<% if project.members.size > 0  %>
	<% project.members.each do |member| %>
	<% if member.user_id == project.owner.id; next; end %>
	<div class="panel-heading">
		<%= User.find_by_id(member.user_id).username %>
		<span style="float:right;">
			<a href="/members/revoke?id=<%= member.id %>&last=my">End membership</a>
		</span>
	</div>
	<% end %>
	<% end %>
	
	<% if project.volunteers.size > 0  %>
	<% project.volunteers.each do |volunteer| %>
	<div class="panel-heading">
		<%= User.find_by_id(volunteer.user_id).username %>
		<span style="float:right;">
			<a href="/volunteers/approve?id=<%= volunteer.id %>&last=my" style="color:green;">Approve</a>&nbsp;&nbsp;&nbsp;
			<a href="/volunteers/deny?id=<%= volunteer.id %>&last=my">Deny</a>
		</span>
	</div>
	<% end %>
	<% end %>
</div>
<% end %>
<% else %>
<h4>No proposed projects.</h4>
<% end %>
<% end %>